<h1>Accueil</h1>

<h2>Binding</h2>

<ul>
  <li>{{ tab[0] }}</li>
  <li>{{ tab["1"] }}</li>
  <li>{{ tab['2'] }}</li>
  <li>{{ tab["3"] }}</li>
</ul>
<ul>
  <li>Identifiant : {{ stagiaire.num }}</li>
  <li>Nom : {{ stagiaire.nom }}</li>
  <li>Prénom : {{ stagiaire.prenom }}</li>
</ul>
<p>{{ title }}</p>
<p [innerHTML]="title"></p>


<button (click)="direBonjour()"> cliquer </button>
<h2> Directives </h2>
<ul>
  <li *ngFor="let elt of tab">
    {{ elt}}
  </li>
</ul>
<ul>
  <li *ngFor="let elt of stagiaires">
    {{ elt.num }} {{ elt.prenom }} {{ elt.nom }}
  </li>
</ul>
<ul>
  <li *ngFor="let elt of stagiaires; let i=index">
    {{ i }} : {{ elt.num }} {{ elt.prenom }} {{ elt.nom }}
  </li>
</ul>
<!-- peut aussi s'écrire comme suit-->
<ul>
  <li *ngFor="let elt of stagiaires; index as i">
    {{ i }} : {{ elt.num }} {{ elt.prenom }} {{ elt.nom }}
  </li>
</ul>
<h3>*ngIf</h3>
<p *ngIf="tab[0] % 2 == 0"> {{ tab[0] }} est pair</p>
<p *ngIf="tab[1] % 2 == 0; else impair"> {{ tab[1] }} est pair</p>

<ng-template #impair>
  <p>{{ tab[1] }} est impair</p>
</ng-template>

<ul>
  <ng-container *ngFor="let elt of tab">

    <li *ngIf="elt % 2 == 0; else impair"> {{ elt }} est pair</li>
    <ng-template #impair>
      <li> {{ elt }} est impair</li>
    </ng-template>

  </ng-container>
</ul>
<!-- exo 2 : afficher le nom de la liste si son indice est pair sinon afficher le prenom -->
<!-- mon exo -->
<ul>
  <li *ngFor="let elt of stagiaires; let i=index">
    <p *ngIf=" i % 2 == 0; else prenom"> {{ elt.nom }} </p>
    <ng-template #prenom>
  <li> {{ elt.prenom }} </li>
  </ng-template>
  </li>
</ul>
<!-- la correction du prof -->
<ul>
  <ng-container *ngFor="let elt of stagiaires; let i=index">
    <li *ngIf="i % 2 == 0; else prenom"> {{ elt.nom }} </li>
    <ng-template #prenom>
      <li> {{ elt.prenom }}</li>
    </ng-template>
  </ng-container>
</ul>
<!-- autee façon, grace à la constante even qui contient l'indice -->
<ul>
  <ng-container *ngFor="let elt of stagiaires; let pair=even">
    <li *ngIf="pair; else prenom"> {{ elt.nom }} </li>
    <ng-template #prenom>
      <li> {{ elt.prenom }}</li>
    </ng-template>
  </ng-container>
</ul>

<h2> ngClass</h2>
<ul>
  <li *ngFor="let elt of tab; let i=index" [ngClass]="{'rouge': i%2 == 0, 'bleu': i%2 != 0 }">
    {{ elt }}
  </li>
</ul>

<ul>
  <li *ngFor="let elt of tab; let i=index" [ngClass]="elt % 2 == 0 ? 'rouge' : 'vert'">
    {{ elt }}
  </li>
</ul>
<!-- parcourr le tab de moyennes, si la moyenne ets comprise entre 0 et 10, afficher echec, sinon si elle est entre 10 et 15, alors afficher bien, sinon afficher excellent -->
<!-- afficher la moyenne et echec, bien ou excellent à chaque fois plsu les couleurs rouges, bleu ou vert si c echec, bien ou excellent -->
<h3>Exercice récap</h3>

<!-- là j'affiche la liste des moyennes avec leur couleur rspectives selon l'énnoncé-->

<!-- <ul>
    <li *ngFor="let elt of moyennes; let i=index"
      [ngClass]="{'rouge': elt < 10, 'bleu': elt >= 15, 'vert' : elt >= 10 && elt < 15}">
      {{ elt }}
    </li>
  </ul> -->

<ul>
  <ng-container *ngFor="let elt of moyennes; let i=index">
    <li *ngIf="elt < 10; else bien">
      {{ elt }} : échec
    </li>
    <ng-template #bien>
      <li *ngIf="elt < 15; else excellent">
        {{ elt }} : bien
      </li>
    </ng-template>
    <ng-template #excellent>
      <li>
        {{ elt }} : excellent
      </li>
    </ng-template>
  </ng-container>

</ul>
<!-- code de éric qui ne marche pas -->
<!-- <ng-container>
    <li ngFor="let elt of moyenne; let i=index" [ngClass]="{'rouge':elt<=10,'bleu':elt>10 && elt<15,'vert':elt>15}">
     <div ngIf="elt >=0 && elt < 10" >{{ elt }} echec </div>
      <div ngIf="elt >10 && elt < 15" > {{ elt }}  bien </div>
      <div ngIf="elt >=15 " > {{ elt }}  excellent</div>
    </li>
  </ng-container> -->

<ul>
  <ng-container *ngFor="let elt of moyennes; let i=index">
    <li *ngIf="elt < 10; else bien">
      {{ elt }} : échec
    </li>
    <ng-template #bien>
      <li *ngIf="elt < 15; else excellent">
        {{ elt }} : bien
      </li>
    </ng-template>
    <ng-template #excellent>
      <li>
        {{ elt }} : excellent
      </li>
    </ng-template>
  </ng-container>
</ul>

<h2> Liens avec paramètres </h2>

<p>
  <a routerLink="/stagiaire/washington/denzel"> visiter la page de D.W. </a>
</p>

<p>
  <a [routerLink]="['/stagiaire', nom, prenom]"> visiter la page de D.W. </a>
</p>

<p>
  <a routerLink="/adresse" [queryParams]="{rue: streetName, ville: city, codePostal: zipCode}"> Visite des
    alpes-maritimes </a>
</p>

<h3> Redirection </h3>

<button (click)="visiter()">
  Rendre visite à Mitroglou
</button>

<h3>Icônes</h3>

<span style="color: Tomato;">
  <i class="fab fa-angular fa-7x"></i>
</span>
<i class="fab fa-angular fa-3x fa-rotate-90"></i>
<i class="fas fa-camera"></i>
<i class="fa fa-home fa-5x"></i>
<i class="fa fa-home fa-5x fa-flip-horizontal fa-spin"></i>
<span style="color: skyblue;" class="fa-3x">
  <i class="fas fa-stroopwafel fa-spin"></i>
</span>

<h3> PIPES (permet le formatage des données) </h3>

<!-- <p> {{ title | uppercase }} </p> -->
<p> {{ title | titlecase }} </p>
<p>{{ maDate | date:"d MMM y" }}</p>

<p>{{ maDate | date:"d MM y" }}</p>
<p>{{ maDate | date:"d MMM y" | uppercase }}</p>
<p> {{ stagiaire | json }}</p> <!-- sans spécifier le format json angular ne reconnait pas et afficher object object -->

<ul>
  <li *ngFor="let elt of stagiaire | keyvalue ">
    {{ elt.key }} {{ elt.value}}
  </li>
</ul>

<h3>Pipe : getchar</h3>
<p>{{ title | getchar }}</p>
<p>{{ "bonjour" | getchar }}</p>
<p>{{ "bonjour" | getchar:2 }}</p>
<!-- //ici y a 2 arguments donc il retourne la position 2 (0, 1, 2...) -->

<h3>Pipe : even-value</h3>
<ul>
  <li *ngFor="let elt of tab | evenValue">
    {{ elt }}
  </li>
</ul>
<p>{{ "bonjour" | substr }}</p> 
<p>{{ "bonjour" | substr:3 }}</p> 
<p>{{ "bonjour" | substr:3:5 }}</p> 